# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Node / Angular
# =========================
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.angular/
frontend/.angular/

# Logs
*.log

# =========================
# .NET
# =========================
bin/
obj/

# User secrets / configs
*.user
*.suo
*.userosscache
*.lscache
*.sln.docstates

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# IDEs
# =========================
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.idea/

# =========================
# Test / coverage
# =========================
coverage/
